.lobbyContainer {
  text-align: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 60px;
  }

  p {
    margin-top: 20px;
    font-size: 25px;
  }

  .codeBlockList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
  }
}
