@import '../../styles/colors.module.scss';

.codeBlockPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  p {
    margin-top: 20px;
    font-size: 25px;
    color: $text-subtitle-color;
  }

  .codeEditorContainer {
    width: 80%;

    .codeEditor {
      background-color: white;
      font-size: 16px;
    }
  }
}
