@import '../../styles/colors.module.scss';

.codeBlockPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  p {
    margin-top: 20px;
    font-size: 25px;
    color: $text-subtitle-color;
  }

  .codeEditor {
    background-color: white;
    width: 600px;
    font-size: 16px;
    max-height: 50%;
  }
}
