@import '../styles/colors.module.scss';

.lobbyContainer {
  text-align: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 25px;
    color: $text-subtitle-color;
  }
}
